<template>

    <div v-show="! this.gesperrt">

      <h1>
        Hallihall🥚! :)

        wenn du das hier liest, hast du ein verstecktes 🐇🥚EasterEgg🐇🥚 gefunden - herzlichen Glückwunsch! :) Aber das ist nicht das einzige Geheimnis, das es zu entdecken gibt. Wir Entwickler haben noch viele weitere Tricks und Kniffe auf Lager, die wir gerne mit dir teilen würden.

        Als Student hast du sicherlich schon viel gelernt, aber es gibt immer noch so viel mehr zu entdecken. Wir können dir helfen, deine Fähigkeiten zu verbessern und dich auf den neuesten Stand der Technik zu bringen. Außerdem sind wir immer auf der Suche nach talentierten und motivierten Entwicklern wie dir, die unser Team verstärken möchten.

        Also zögere nicht und nimm Kontakt zu uns auf. Wir freuen uns darauf, dich kennenzulernen und gemeinsam an spannenden Projekten zu arbeiten.

        Viele Grüße,

        Die Web Entwickler von BS|ENERGY
      </h1>
      
      <button
        :disabled="this.gesperrt"
        @click="this.reachOut();"
      >Reach Out</button> 
      
    </div>
    
</template>
  
<script>
export default {
    name: 'Easter',
    props: {},
    data() {
      return {
        gesperrt: true,
        hook: "https://www.linkedin.com/in/marco-apel-0a7269133/"
      }
    },
    created(){
    },
    methods:{
      reachOut(){
        window.open(this.hook);
      }
    }
}
</script>

<style></style>